.statistics-chart-div{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
    padding: 5%;
    box-shadow: 0px 5px 5px 5px #dddddd;
}

.statistics-chart-div > label:after {
    content: "";
}

.statistics-label{
    text-align: center;
}

.statistics-selection-div{
    margin-bottom: 5%;
}

.statistics-form{
    margin-bottom: 2%;
    text-align: center;
}

.statistics-update-button{
    margin: auto;
    display:block;
}

.statistics-update-div{
    margin: 5%;
    padding: 5%;
    background-color: #dddddd;
    text-align: center;
}

.no-chart-available{
    text-align: center;
}
