{% extends "user/dashboard.html" %}

{% block dashboard_activity_stream_context %}{% endblock %}

{% block primary_content_inner %}
  <h2 class="hide-heading">{{ _('My Queries') }}</h2>
  {% if c.user_dict.queries %}
    {% snippet 'snippets/query_list.html', queries=c.user_dict.queries %}
  {% else %}
    <p class="empty">
      {{ _('You haven\'t saved any queries.') }}
    </p>
  {% endif %}
{% endblock %}