<div id="map-disclaimer">
    <a href="{{ h.language_link('https://www.openstreetmap.org/copyright/', trailing=True)}}" target="_blank">Map &copy; OpenStreetMap contributors</a>
    <br />
    <a href="{{ h.main_menu_link('/legal-notice#maps') }}" target="_blank">{{ _('Disclaimer') }}</a>
</div>

