{% ckan_extends %}

{% block breadcrumb_content %}
    {% if pkg %}
        {% set dataset = h._metadata('title', pkg) or pkg.name %}
        {% if pkg.organization %}
            {% set organization = pkg.organization.title or pkg.organization.name %}
            <li>{% link_for _('Catalogues'), controller='organization', action='index' %}</li>
            <li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
        {% else %}
            <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
        {% endif %}
        <li{{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read', id=pkg.name %}</li>
    {% else %}
        <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
        <li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
    {% endif %}
{% endblock %}
