{% extends "package/read_base.html" %}

{% block subtitle %}{{ _('Similar Datasets') }} - {{ super() }}{% endblock %}

{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 75 %}

{% block primary_content_inner %}
    <h1 class="hide-heading">{% block page_heading %}{{ _('Similar Datasets') }}{% endblock %}</h1>
    {% if c.packages|length > 0 %}
        <ul class="{{ list_class or 'dataset-list unstyled' }}">
                {% for package in  c.packages  %}
                    <li class="dataset-item">
                        <div class="dataset-content">
                            <div class="dataset-heading-wrapper">
                                <h3 class="dataset-heading">
                                    {{ h.link_to(h.truncate(h._metadata('title', package), truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
                                </h3>
                                <div>{{ h.markdown_extract(h._metadata('notes', package), extract_length=truncate) }}</div>
                            </div>
                        </div>
                        <ul class="dataset-resources unstyled">
                        <li>
                            {% if package.dist >= 0 and package.dist <= 20 %}
                            <span class="label label-success">{{ _('Very Similar') }}</span>
                            {% endif %}
                            {% if package.dist > 20 and package.dist <= 30 %}
                                <span class="label label-info">{{ _('Similar') }}</span>
                            {% endif %}
                            {% if package.dist > 30 and package.dist <= 40 %}
                                <span class="label label-warning">{{ _('Less Similar') }}</span>
                            {% endif %}
                            {% if package.dist > 40 %}
                                <span class="label">{{ _('Marginal Similar') }}</span>
                            {% endif %}
                        </li>
                    </ul>
                    </li>
                {% endfor %}
        </ul>
    {% else %}
        <p class="empty">{{ _('No similiar dataset where found.') }}</p>

    {% endif %}
{% endblock %}
