{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}


{% block scripts %}
   {{ super() }}
    {{ h.get_schemaorg_snippet(pkg)|safe }}
{% endblock %}


{% block primary_content_inner %}
    {{ super() }}
    {% block package_description %}

        {% block translation_message %}
            {% set trans_info =  h.is_machine_translated(pkg)  %}
            {% if trans_info  %}
                {% if trans_info.tag == 'mtec' or trans_info.tag == 'updating' %}
                    <div class="alert alert-warning">
                    {{ _('The title and description of this dataset are machine translated.') }} <br />
                    {{ _('Original language') }}: <b>{{ trans_info.from }}</b> <br />
                    <a href="{{ h.url_for(controller='package', action='read', id=pkg.name, locale=trans_info.original_code) }}">{{ _('Click here to see the dataset in the original language') }}</a>
                    </div>
                {% endif %}
                {% if trans_info.tag == 'updating' %}
                    <div class="alert alert-warning">
                    {{ _('An updated translation of this dataset is in progress.') }}
                    </div>
                {% endif %}
                {% if trans_info.tag == 'processing' %}
                    <div class="alert alert-warning">
                    {{ _('The translation of this dataset is in progress.') }}
                    </div>
                {% endif %}
            {% endif %}
            {% set trans_available =  h.translation_available(pkg)  %}
            {% if trans_available.status == False %}
                <div class="alert alert-warning">
                    {{ _('There is no translation available for the desired language. The information is displayed in its default language') }}: <b>{{ trans_available.default }}</b>
                </div>
            {% endif %}
        {%  endblock %}


        {% if pkg.private %}
            <span class="dataset-private label label-inverse pull-right">
        <i class="icon-lock"></i>
        {{ _('Private') }}
      </span>
        {% endif %}
        <h1>
            {% block page_heading %}
                {{ h._metadata('title', pkg) or pkg.name }}
                {% if pkg.state.startswith('draft') %}
                    [{{ _('Draft') }}]
                {% endif %}
                {% if pkg.state == 'deleted' %}
                    [{{ _('Deleted') }}]
                {% endif %}
            {% endblock %}
        </h1>
        {% block package_notes %}
            {% set notes = h.render_markdown(h._metadata('notes', pkg)) %}
            {% if notes %}
                <div class="notes embedded-content">
                    {{ notes }}
                </div>
            {% else %}
                <div class="notes embedded-content">
                    <p class="empty">{{ _("This dataset has no description") }}</p>
                </div>
            {% endif %}
        {% endblock %}
        {# FIXME why is this here? seems wrong #}
        <span class="insert-comment-thread"></span>
    {% endblock %}

    {% block package_resources %}
        {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    {% endblock %}

    {% block package_tags %}
        {% if pkg.tags %}
            <h3>{{ _('Tags') }}</h3>
        {% endif %}
        {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}

    {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
    {% if dataset_extent %}
        {% snippet "spatial/snippets/dataset_map.html", extent=dataset_extent %}
    {% endif %}

{#    {% block package_maps %} #}
{#        {% snippet "package/snippets/map.html", pkg=pkg %}#}
{#    {% endblock %}#}

    {% block package_additional_info %}
        {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
    {% endblock %}

{% endblock %}





