{% ckan_extends %}


  {% block resource_actions_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
      <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
    {% endif %}
    {% if res.url and h.is_url(res.url) %}
      <li>
        <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" onclick="_paq.push(['trackEvent', 'Dataset', 'Go to resource', 'datasetId, distributionId', '{{ pkg.name }},  {{ res.id }}']);" href="{{ res.url }}">
          {% if res.resource_type in ('listing', 'service') %}
            <i class="icon-eye-open"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
            <i class="icon-key"></i> {{ _('API Endpoint') }}
          {% elif not res.has_views or not res.can_be_previewed %}
            <i class="icon-external-link"></i> {{ _('Go to resource') }}
          {% else %}
            <i class="icon-download"></i> {{ _('Download') }}
          {% endif %}
        </a>
      </li>
    {% endif %}
    {% if 'datastore' in g.plugins %}
      <li>{% snippet 'package/snippets/data_api_button.html', resource=res %}</li>
    {% endif %}
    {% endblock %}


          {% block resource_read_url %}
            {% if res.url and h.is_url(res.url) %}
              <p class="muted ellipsis">{{ _('URL:') }} <a href="{{ res.url }}" onclick="_paq.push(['trackEvent', 'Dataset', 'Go to resource', 'datasetId, distributionId', '{{ pkg.name }},  {{ res.id }}']);"  title="{{ res.url }}">{{ res.url }}</a></p>
            {% elif res.url %}
              <p class="muted ellipsis">{{ _('URL:') }} {{ res.url }}</p>
            {% endif %}
          {% endblock %}



  {% block resource_view_content %}

  {% endblock %}
