{% set query_url = {"url":""} %}
{% for param in request.params %}
    {% if query_url.update({"url": query_url.url + request.params.keys()[loop.index0] + "=" + request.params.values()[loop.index0] + "&"}) %}{% endif %}
{% endfor %}


{% if active %}
    <a href="{{ h.url_for(controller='ckanext.eodp.query_controller:QueryController', action='new', id=c.user, query_title=query_title, query_url=query_url) }}" class="btn btn-primary">{{ _('Save Query') }}</a>
{% else %}
    <a href="{{  h.url_for('/ecas/login') }}" data-placement="top" data-delay="0" title="{{ _('Login to save a query') }}" class="btn btn-primary btn-tooltip" disabled="">{{ _('Save Query') }}</a>
{% endif %}

