<div class="module module-narrow module-shallow">
  <h2 class="module-heading">
    <i class="icon-info-sign"></i>
      {{ _('What are Catalogues?') }}
  </h2>
  <div class="module-content">
    <p>
        {{ _('A catalogue is a webportal, which provides data for the European Data Portal.') }}
    </p>
  </div>
</div>