{% block organization_item %}
  <li class="{{ item_class or "dataset-item" }}">
      <div class="row">
          <div class="span1">
              {% block image %}
                  <img width="50" src="{{ h.get_organization_image_url(organization, extras_included=False) or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="media-image flag-image">
              {% endblock %}
          </div>
      {% block content %}
          <div class="span7">
          <div class="dataset-content">
          {% block heading %}
              {% set url = h.url_for(organization.type ~ '_read', action='read', id=organization.name) %}
              <h3 class="dataset-heading">
                  <a href="{{ url }}">{{ organization.display_name }}</a>
              </h3>
          {% endblock %}

          {% block description %}
              {% if organization.description %}
                <div>{{ h.markdown_extract(organization.description, extract_length=120) }}</div>
              {% endif %}
          {% endblock %}
          </div>
          <ul class="dataset-resources unstyled">
            <li>
          {% if organization.package_count %}
              <span class="label label-info">{{ ungettext('{num} Dataset', '{num} Datasets', organization.package_count).format(num=organization.package_count) }}</span>
          {% else %}
              <span class="label label-default">{{ _('0 Datasets') }}</span>
          {% endif %}
            </li>
          </ul>
          </div>
      {% endblock %}
      </div>
  </li>
{% endblock %}


