{% ckan_extends %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Catalogues') }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Catalogues'), controller='organization', action='index' %}</li>
    <li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

