<section class="module module-narrow module-shallow edp-facet" data-name="country">
    <h2 class="module-heading">
        <i class="icon-medium icon-filter"></i>
        {{ _('Countries') }}
    </h2>
    {% set countries = static_facets.country %}
    <nav>
         <ul class="unstyled nav nav-simple nav-facet edp-basic-facet">
            {% for country in countries[0:10] %}
                {% set href = h.remove_url_param('country', country.name, extras=extras) if country.active else h.add_url_param(new_params={'country': country.name}, extras=extras) %}
                <li class="nav-item {% if country.active %} active{% endif %}">
                    <a href="{{ href }}" title="">
                        <span>{{ country.display_name }} ({{ country.count }})</span>
                    </a>
                </li>
            {%  endfor %}
        </ul>

        <ul class="unstyled nav nav-simple nav-facet edp-hidden-facet">
            {% for country in countries[10:] %}
                {% set href = h.remove_url_param('country', country.name, extras=extras) if country.active else h.add_url_param(new_params={'country': country.name}, extras=extras) %}
                <li class="nav-item {% if country.active %} active{% endif %}">
                    <a href="{{ href }}" title="">
                        <span>{{ country.display_name }} ({{ country.count }})</span>
                    </a>
                </li>
            {%  endfor %}
        </ul>
    </nav>

    <p class="module-footer">
        {% set title = _('Countries') %}
        {% if more_facets.get('country') == True %}
            <a href="" class="read-more edp-more-facets">{{ _('Show More {facet_type}').format(facet_type=title) }}</a>
            <a href="" class="read-more edp-less-facets">{{ _('Show Only Popular {facet_type}').format(facet_type=title) }}</a>
        {% endif %}
    </p>
</section>
            
            
          
        