{% set distribution = h.get_distribution_information(res_id, mqa_result) %}

{% if distribution.machineReadable %}
    <span class="icon-tooltip" data-toggle="tooltip" title="{{ _('This distribution is machine readable') }}" data-placement="top" data-delay="0"><strong><i class="edp-base-glyphicon icon-gears"></i></strong></span>
{% endif %}

{% if distribution.statusAccessUrl >= 400 and distribution.statusAccessUrl <= 600  %}
    <span class="icon-tooltip" data-toggle="tooltip" title="{{ _('MQA Error Message') }}: {{ distribution.accessErrorMessage }}" data-placement="top" data-delay="0">
        <i class="edp-base-glyphicon icon-warning-sign"></i>
    </span>
{% endif %}