{% if pkg %}
    {% set spatial_data = h.get_pkg_spatial_data(pkg) %}
    {% if spatial_data %}
        <section class="map-link">
            <h3>{{ _('Spatial Link') }}</h3>
            <div class="well">
                <a href="{{ spatial_data.link }}" target="_blank">{{ spatial_data.name }}</a>
            </div>
        </section>
    {% endif %}
{% endif %}
