{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

<li class="resource-item" data-id="{{ res.id }}">
  {% block resource_item_title %}
  <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    {{ h.resource_display_name(res) | truncate(50) }} {% if res.format %}({{ res.format }}){% else %}({{ _('Unknown')|upper}}){% endif %}
      <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    {{ h.popular('views', res.tracking_summary.total, min=10) }}
  </a>

  {% block distribution_information %}
      {% snippet "package/snippets/distribution_info.html", res_id=res.id, pkg=pkg, mqa_result=mqa_result %}
  {% endblock %}

  {% endblock %}
  {% block resource_item_description %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% endif %}
    </p>
  {% endblock %}
  {% block resource_item_explore %}
      {% if not url_is_edit %}
        <div class="btn-group">
          <a href="{{ res.url }}" target="_blank" onclick="_paq.push(['trackEvent', 'Dataset', 'Go to resource', 'datasetId, distributionId', '{{ pkg.name }},  {{ res.id }}']);" class="btn btn-primary btn-tooltip" title="{{ _('Go to resource') }}" data-placement="top" data-delay="0"><i class="icon-external-link"></i></a>
          {% set map_data = h.get_res_map_data(res, pkg) %}
          {% if map_data %}
            <a href="{{ map_data.link }}" target="_blank" class="btn btn-primary btn-tooltip"  title="{{ map_data.name }}"  data-placement="top" data-delay="0"><i class="icon-globe"></i></a>

          {%  endif %}
          {% set visu_data = h.get_visualisation_data(res) %}
          {% if visu_data %}
            <a href="{{ visu_data.link }}" target="_blank" class="btn btn-primary btn-tooltip" title="{{ _('Open Visualisation') }}" data-placement="top" data-delay="0"><i class="icon-signal"></i></a>
          {% endif %}
        {% if can_edit %}
          <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}" class="btn btn-primary btn-tooltip" title="{{ _('Edit') }}" data-placement="top" data-delay="0"><i class="icon-edit"></i></a>
        {% endif %}
        </div>
      {% endif %}
  {% endblock %}
</li>
