<a href="{{ h.url_for('/ecas/login', url_redirect=h.url_for(controller="package", action="follow", id=pkg_id))}}" class="{% block unfollowing_class %}btn btn-success{% endblock %}">
    <i class="icon-plus-sign"></i>
    {{ _('Follow') }}
</a>