
<form method="post" class="statistics-form form-horizontal" action="{{ h.url_for(controller='ckanext.eodp.statistics.statistic_controller:StatisticController', action='call_model_functions_evolution') }}">
    <label>{{ _('Select the Statistic Type') }}</label>
    <select id="field-statistics-select-model" name="model_index">
        {% for model in models %}
            {% if loop.index == model_index %}
                <option selected value="{{ loop.index }}">{{ _(model.title) }}</option>
            {% else %}
                <option value="{{ loop.index }}">{{ _(model.title) }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <label>{{ _('Select the Time Period') }}</label>
    <select id="field-statistics-select-date-1" name="statistic-date-1">
        {% for year in years %}
            {% if year == date_begin %}
                <option selected value="{{ year }}">{{ year.strftime('%d-%m-%Y') }}</option>
            {% else %}
                <option value="{{ year }}">{{ year.strftime('%d-%m-%Y') }}</option>
            {% endif %}
        {% endfor %}
    </select>

    <select id="field-statistics-select-date-2" name="statistic-date-2">
        {% for year in years %}
            {% if year == date_end %}
                <option selected value="{{ year }}">{{ year.strftime('%d-%m-%Y') }}</option>
            {% else %}
                <option value="{{ year}}">{{ year.strftime('%d-%m-%Y') }}</option>
            {% endif %}
        {% endfor %}
    </select>


    {% for year in years %}
        <input type="hidden" name="years[{{ loop.index }}]" value={{ year }}>
    {% endfor %}

    <button type="submit" class="btn btn-primary" title="{{ _('Select the timerange') }}">{{ _('Submit') }}</button>
</form>
