{% set label_text = _('Evolution of the total number of Datasets between {start_date} and {end_date}') %}

<div class="statistics-chart-div">
    <label class="statistics-label">{{ label_text.format(dataset_model=_(dataset_model), start_date=data.start_date,
            end_date=data.end_date) }}</label>
    <canvas id="line_chart" width="400" height="{{ data.labels|length * 50 }}"></canvas>
</div>