<form method="post" class="statistics-form form-horizontal" data-module="select-switch" action="{{ h.url_for(controller='ckanext.eodp.statistics.statistic_controller:StatisticController', action='call_model_functions_evolution') }}">
    <label>{{ _('Select the dataset model') }}</label>
    <select id="field-statistics-select-model" name="statistic-models">
        {% for model in models %}
            {% if loop.index == model_index %}
                <option selected value="{{ loop.index }}">{{ _(model.title) }}</option>
            {% else %}
                <option value="{{ loop.index }}">{{ _(model.title) }}</option>
            {% endif %}
        {% endfor %}
    </select>
</form>