body {
  background-color: white;
  background-image: none;
  color: #3b3b3b;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

#layout-body {
  margin-top: 0;
  max-width: 982px;
}

.edp-base-edp-front {
  padding-top: 10px;
}

.edp-base-edp-node {
  background-color: #fff;
  /*min-height: 800px;*/
}

@media (min-width: 768px) and (max-width: 991px) {
  .edp-base-container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .edp-base-container {
    max-width: 984px;
  }
}

#path {
  color: #fff;
  font-size: 90%;
  line-height: 1.6;
}

#path a,
#path a:visited {
  border: 0 none;
  color: #fff;
  text-decoration: none;
}

#path a:hover,
#path a:focus,
#path a:active {
  border: 0 none;
  color: #fff;
  text-decoration: underline;
}

.edp-base-input-group-btn:last-child > .edp-base-btn:not(:last-child):not(.edp-base-dropdown-toggle),
.edp-base-input-group-btn:last-child > .edp-base-btn-group:not(:last-child) > .edp-base-btn {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.edp-base-btn-primary {
  border-color: transparent;
}

.edp-base-btn-default {
  background-color: white;
}

.edp-base-panel-default {
  border-color: #fff;
}

#layout-footer {
  background: #0f66a0 none repeat scroll 0 0;
  border-top: 0 none;
  font-size: 90%;
  margin-bottom: 0;
}

#layout-footer .edp-base-service-tools ul {
  text-align: center;
}

#layout-footer .edp-base-service-tools li {
  display: inline-block;
  margin: auto 10px;
}

ul.edp-base-menu {
  border: medium none;
  list-style: outside none none;
  text-align: left;
}

#layout-footer li > a {
  color: #fff;
  text-decoration: none;
}

.edp-base-link-wrapper {
  display: none;
}

.edp-base-wrapper,
.edp-base-site-wrapper {
  background-color: #eeeeee;
  border: 1px solid #83b4c2;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
  max-width: 984px;
}

h1,
.edp-base-h1 {
  color: #7c3b3b;
  font-size: 24px;
  font-weight: bold;
}

h2,
.edp-base-h2 {
  color: #7c3b3b;
  font-size: 20px;
  font-weight: bold;
}

h3,
.edp-base-h3 {
  color: #0f5991;
  font-size: 14px;
  font-weight: bold;
}



.edp-base-search-datasets {
  background: transparent url("../images/bg_jumbotron.jpg") no-repeat scroll center center;
  color: inherit;
  margin-bottom: 0;
  height: 206px;
}

h1.edp-base-featured {
  color: white;
}

button {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}



.edp-base-bt-edp {
  margin-top: -6px;
  padding: 5px 12px;
}

.edp-base-search-datasets a.edp-base-btn {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 0.8em;
  padding: 3px 10px;
  width: 165px;
}

.edp-base-fix-region {
  padding-right: 15px;
}

.edp-base-using-data > span,
.edp-base-what-we-do > span,
.edp-base-providing-data > span,
.edp-base-training-library > span {
  background-color: white;
  color: #333333;
  font-weight: bold;
  padding: 10px;
}

.edp-base-navbar-default #main-menu .edp-base-navbar-nav > .edp-base-active > a,
.edp-base-navbar-default #main-menu .edp-base-navbar-nav > .edp-base-active > a:hover,
.edp-base-navbar-default #main-menu .edp-base-navbar-nav > .edp-base-active > a:focus {
  background-color: #289dfa;
}

.edp-base-latest-news {
  background-color: #e5e4e2;
  margin-bottom: 10px;
}

.edp-base-latest-news-heading {
  color: #85b5c3;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: -3px;
  width: 160px;
}

.edp-base-latest-news-date {
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
}

h2.edp-base-cat,
h4 {
  color: #333;
  font-size: 18px;
  font-weight: 400;
}

.edp-base-cat-caption p > a {
  color: #333;
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1.42857;
}

.edp-base-help-us {
  background-color: white;
  border-color: #1370b5;
  border-radius: 0;
  box-shadow: 0 2px 7px -4px;
  font-size: 12px;
  margin: 5px 0 15px;
  padding: 0;
}

.edp-base-help-us .edp-base-panel {
  margin-bottom: 0;
  padding: 0;
}

.edp-base-help-us .edp-base-panel-body {
  padding: 0;
}

.edp-base-help-us .edp-base-panel-index {
  padding: 10px;
}

.edp-base-border-right {
  border-right: 1px solid #0a3d63;
}

.edp-base-p-blue-7 {
  color: #0f5991;
  margin: 1px 0 0;
}

.edp-base-feed-text {
  color: #000;
  margin: 2px 0 0;
}

.edp-base-panel-box {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 300px;
}

.edp-base-panel-box-1 {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 370px;
}

.edp-base-box-frame {
  background-color: #fff;
  display: block;
  height: 315px;
  line-height: 1.42857;
  padding: 0;
  position: relative;
  transition: border 0.2s ease-in-out 0s;
}

.edp-base-panel-box-2 {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 10px;
  margin-top: 10px;
  max-width: 300px;
  min-height: 370px;
}

.edp-base-box-frame-1 {
  background-color: #fff;
  display: block;
  line-height: 1.42857;
  padding: 0;
  position: relative;
  transition: border 0.2s ease-in-out 0s;
}

.edp-base-box-frame img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 2px 7px -4px;
  height: auto;
  max-width: 100%;
}

.edp-base-box-frame-1 img {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 2px 7px -4px;
  height: auto;
  max-width: 100%;
}

.edp-base-box-frame strong {
  font-size: 13px;
}

.edp-base-box-frame-1 strong {
  font-size: 13px;
}

.edp-base-box-title {
  color: #fff;
  font-size: 24px;
  line-height: 1.1;
  position: absolute;
  right: 0;
  text-align: center;
  top: 34px;
  width: 100%;
}

.edp-base-box-frame .edp-base-caption {
  padding: 5px 15px;
}

.edp-base-box-frame-1 .edp-base-caption {
  padding: 5px 15px;
}

ul.edp-base-box-list {
  padding-left: 10%;
  margin-top: -15px;
}

ul.edp-base-box-icons {
  margin: -1em;
}

ul.edp-base-box-icons li {
  list-style: outside none none;
  padding-bottom: 20px;
}

ul.edp-base-box-icons img {
  box-shadow: 0 0 0 0;
}

.edp-base-gb-term {
  padding: 10px;
}

.edp-base-gb-term-name {
  font-size: 17px;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist {
  padding: 0;
  width: 25%;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist li.edp-base-active a {
  color: #323232;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist li.edp-base-active {
  background: #f6f6f6 none repeat scroll 0 0;
  border-bottom: 0 solid #d0d0d0;
  border-left: 1px solid #d0d0d0;
  border-top: 0 solid #d0d0d0;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist li a {
  padding: 3px 10px 0;
  text-align: left;
  word-break: break-all;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist {
  background: #f6f6f6 none repeat scroll 0 0;
  border-bottom: 1px solid #d0d0d0;
  border-bottom-left-radius: 3px;
  border-left: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  border-top-left-radius: 3px;
  box-shadow: 0 1px 3px 0 #e4e4e4;
}

#quicktabs-container-goldbook {
  box-shadow: 0 1px 3px 1px #e4e4e4;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist li {
  border: 1px solid #d0d0d0;
  margin: -1px;
}

.edp-base-quicktabs-main.edp-base-quicktabs-style-navlist {
  background: #f6f6f6 none repeat scroll 0 0;
  border: 1px solid #d0d0d0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}

.edp-base-quicktabs-main.edp-base-quicktabs-style-navlist li.edp-base-active:nth-child(2) {
  border-left: 6px solid #0f799c;
}

ul.edp-base-quicktabs-tabs.edp-base-quicktabs-style-navlist li.edp-base-active a {
  margin: 5px;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation .edp-base-views-exposed-form .edp-base-views-exposed-widget {
  float: left;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation #edit-sort-by {
  display: none;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation .edp-base-form-item-sort-order > label {
  display: none;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation .edp-base-form-item-sort-order {
  margin-bottom: 20px;
  margin-left: 440px;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation .edp-base-views-exposed-form {
  background-color: white;
  border-bottom: 1px solid #d0d0d0;
  height: 50px;
  margin: -10px -10px 30px;
}

#views-exposed-form-goldbook-navigation-block-goldbook-navigation .edp-base-form-item-sort-by {
  float: right;
  margin-left: 380px;
  margin-top: 5px;
  position: absolute;
}

.edp-base-pub-date {
  float: right;
}

#block-block-3 h3 {
  display: none;
}

.edp-base-prefooter {
  font-size: 90%;
  height: 1em;
  position: relative;
}

.edp-base-prefooter .edp-base-last-update {
  left: 10px;
  position: absolute;
}

.edp-base-prefooter .edp-base-top-link {
  position: absolute;
  right: 10px;
}

.edp-base-service-tools .edp-base-list-group-item {
  background-color: #0065a2;
  border: medium none;
  margin-bottom: -1px;
}

body.edp-base-not-front .edp-base-wrapper {
  background-color: #fff;
}

.edp-base-node .edp-base-field-name-body {
  border-bottom: none;
}

.edp-base-region-content > .edp-base-panel {
  box-shadow: none;
}

.edp-base-node-content-fix {
  margin-bottom: -25px;
}

#webform-client-form-28 {
  margin-top: -40px;
}

.edp-base-form-item label {
  color: #0065A2;
}

.edp-base-form-story-newsletter-label {
  color: #0065A2;
  font-size: 14px;
  font-weight: 700;
}

.edp-base-form-story-newsletter-label legend {
  border-color: white;
}

.edp-base-form-story-newsletter-label legend > span {
  border-color: none;
  color: #0065A2;
  font-size: 14px;
  font-weight: 700;
}

.edp-base-form-story-newsletter {
  margin-top: -20px;
}

.edp-base-form-story-newsletter label {
  color: #000;
}

/*===================================
=            NAVBAR MENU            =
===================================*/

#main-menu .edp-base-container,
#main-menu .edp-base-navbar .edp-base-collapse,
#main-menu ul.edp-base-menu li {
  padding: 0;
  margin: 0;
}

#main-menu > .edp-base-navbar > .edp-base-container {
  width: 100%;
}

#main-menu .edp-base-navbar-nav {
  position: static;
  top: -3px;
}

#main-menu .edp-base-navbar-nav > li {
  position: static;
}

#main-menu .edp-base-navbar-nav > li > a {
  display: block;
}

#main-menu .edp-base-navbar-nav > li > a,
#main-menu .edp-base-navbar-nav > li:focus > a,
#main-menu .edp-base-navbar-nav > li.edp-base-open > a,
#main-menu .edp-base-navbar-nav>.edp-base-open>a,
#main-menu .edp-base-navbar-nav>.edp-base-open>a:hover,
#main-menu .edp-base-navbar-nav>.edp-base-open>a:focus,
#main-menu .edp-base-navbar-nav>li>a.edp-base-active {
  border-radius: 0;
}

:not(.edp-base-i18n-en) #main-menu .edp-base-navbar-nav > li > a {
  text-transform: none;
}

#main-menu .edp-base-navbar-nav > li.edp-base-open > a,
#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu {
  background-color: #1986DC;
}

#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu {
  width: calc(100% + 2px);
  top: auto;
  bottom: -50px;
  left: -1px;
  padding: 5px;
  border-radius: 0;
  text-align: center;
}

#main-menu .edp-base-navbar-nav>li>a.edp-base-active,
#main-menu .edp-base-navbar-nav>li>a.edp-base-active-trail,
#main-menu .edp-base-navbar-nav > li.edp-base-active-trail > .edp-base-dropdown-menu.edp-base-active-trail {
  background-color: #289dfa;
  display: inline-block;
  z-index: 999;
}

#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li {
  display: inline-block;
}

#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a {
  display: inline-block;
  background-color: #289dfa;
  color: #FFF;
  border-color: #289dfa;
  padding: 10px 15px;
}

#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:hover,
#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:focus,
#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a.edp-base-active,
#main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a.edp-base-active-trail {
  background-color: #0065a2;
  color: #FFF;
  border-color: #289dfa;
}

#main-menu .edp-base-navbar-nav > li.edp-base-first > a,
#main-menu .edp-base-navbar-nav > li.edp-base-last > a {
  width: 50px;
}

#main-menu .edp-base-navbar-nav > li.edp-base-last > .edp-base-dropdown-menu {
  text-align: right;
}

#main-menu .edp-base-dataset {
  background: rgba(0, 0, 0, 0) url("../imgs/icon-dataset.png") no-repeat scroll center center;
  overflow: hidden;
  text-indent: -9999px;
  white-space: nowrap;
}

@media (min-width: 768px) {
  #main-menu .edp-base-navbar-nav > li > a {
    width: 185px;
    text-align: center;
  }
}

@media (max-width: 991px) and (min-width: 767px) {
  #main-menu .edp-base-container {
    width: 750px;
    margin: 0 auto;
  }

  #main-menu .edp-base-navbar-nav {
    font-size: 14px;
    height: 52px;
  }

  #main-menu .edp-base-navbar-nav > li > a {
    width: 162px;
    padding: 16px 15px 16px;
  }

  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu {
    width: calc(100% + 1px);
  }

  .edp-base-region-featured-wrapper.edp-base-sidebar-visible-sm .edp-base-mobile-user-bar+.edp-base-region-featured #main-menu .edp-base-navbar-nav {
    padding-left: 0;
  }

  .edp-base-mobile-user-bar .edp-base-navbar-header {
    display: none;
  }
}

@media (max-width: 767px) {
  #main-menu .edp-base-navbar .edp-base-collapse {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #main-menu .edp-base-navbar-nav > li > a {
    padding-left: 30px;
    width: 100%;
  }

  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu {
    display: block;
    position: static;
    top: auto;
    left: auto;
    bottom: auto;
    width: 100%;
    float: none;
    background-color: transparent;
    box-shadow: none;
    margin: 0;
    text-align: left;
  }

  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li {
    display: block;
  }

  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a,
  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:hover,
  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:focus {
    width: 100%;
    display: block;
    float: none;
    background-color: transparent;
    border-color: transparent;
    padding-left: 35px;
  }

  #main-menu .edp-base-navbar-nav > li > a > .edp-base-caret {
    display: none;
  }

  #main-menu .edp-base-navbar-nav>li>a.edp-base-active,
  #main-menu .edp-base-navbar-nav>li>a.edp-base-active-trail,
  #main-menu .edp-base-navbar-nav>li.edp-base-active-trail > .edp-base-dropdown-menu.edp-base-active-trail,
  #main-menu .edp-base-navbar-nav>li.edp-base-active-trail > .edp-base-dropdown-menu {
    background-color: transparent;
  }

  #main-menu .edp-base-navbar-nav > li.edp-base-active-trail > .edp-base-dropdown-menu > li > a.edp-base-active {
    background-color: #289dfa;
  }

  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:hover,
  #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu > li > a:focus,
  #main-menu .edp-base-navbar-nav > li.edp-base-active-trail > a.edp-base-active:hover,
  #main-menu .edp-base-navbar-nav > li.edp-base-active-trail > a.edp-base-active:focus,
  #main-menu .edp-base-navbar-nav > li.edp-base-active-trail > a.edp-base-active {
    background-color: #1986DC;
  }

  #main-menu .edp-base-navbar-nav > li.edp-base-first > a,
  #main-menu .edp-base-navbar-nav > li.edp-base-last > a {
    width: 100%;
  }

  #main-menu .edp-base-dataset {
    text-indent: 30px;
    background-position: 30px center;
  }

  #main-menu .edp-base-navbar-nav > li.edp-base-last > .edp-base-dropdown-menu {
    text-align: left;
  }
}

@media (min-width: 768px) {
  #layout-body.edp-base-active-submenu {
    padding-top: 56px;
  }
}

/*=====  End of NAVBAR MENU  ======*/

/*===================================
=               HEADER              =
===================================*/

#layout-header {
  height: 145px;
  width: 100%;
  background-repeat: repeat-x;
  background-position: 0 0;
  background-image: url(../imgs/title.gif);
  position: relative;
  z-index: 10;
  min-height: 145px;
  background-color: #fff;
  line-height: 1.4;
}

#layout-header #main-title {
  color: #0065a2;
  text-transform: uppercase;
  font-size: 24px!important;
  position: absolute;
  z-index: 10;
  left: 245px;
  top: 65px;
  text-decoration: none;
}

#layout-header #sub-title {
  color: #fff;
  font-size: 17px!important;
  position: absolute;
  z-index: 10;
  left: 245px;
  top: 100px;
  text-decoration: none;
}

#layout-header #banner-flag {
  position: absolute;
  left: 40px;
  top: 15px;
  z-index: 8;
  color: #000;
  width: 172px;
  height: 119px;
}

#layout-header #banner-image-right {
  position: absolute;
  right: 15px;
  top: 38px;
  z-index: 7;
  height: 107px;
  width: 210px;
}

@media (max-width: 767px) {
  #layout-header {
    height: auto;
    min-height: 82px;
  }

  #layout-header #banner-flag {
    width: 90px;
    height: 62px;
    left: 10px;
    top: 10px;
  }

  #layout-header #main-title {
    font-size: 26px!important;
    position: relative;
    left: 0;
    top: 0;
    padding: 28px 0 0 100px;
    text-transform: none;
  }
}

@media (max-width: 479px) {
  #layout-header #main-title {
    margin-top: 4px;
    font-size: 20px!important;
  }
}

#main-menu .edp-base-menu li:first-of-type, #main-menu .edp-base-menu li:last-of-type a {
  width: auto;
}

#main-menu .edp-base-menu li, #main-menu .edp-base-menu li a {
  text-align: center;
  width: 185px;
  padding: 15px 10px;
}

#main-menu .edp-base-menu .edp-base-dropdown li, #main-menu .edp-base-menu .edp-base-dropdown li a {
  width: auto;
}

#main-menu .edp-base-navbar-nav > li.open > a, #main-menu .edp-base-navbar-nav > li > .edp-base-dropdown-menu {
  background-color: #1986dc;
}

/*=====  End of HEADER  ======*/