{% extends "page.html" %}

{% block subtitle %}{{ _('Categories') }}{% endblock %}

{% block breadcrumb_content %}
    <li class="active">{% link_for _('Categories'), controller='group', action='index' %}</li>
{% endblock %}


{% block primary_content %}
    <article class="module">
        <div class="module-content">
            {% block primary_content_inner %}{% endblock %}
        </div>
    </article>
{% endblock %}

{% block secondary %}{% endblock %}

{% block primary %}
    <div class="module-content">
        <h1 class="hide-heading">{{ _('Groups') }}</h1>
        {% block groups_search_form %}
            {% snippet 'snippets/search_form.html', type='group', query=c.q, sorting_selected=c.sort_by_selected, count=c.page.item_count, placeholder=_('Search categories...'), show_empty=request.params, no_bottom_border=true if c.page.items, sorting = [(_('Name Ascending'), 'title asc'), (_('Name Descending'), 'title desc')] %}
        {% endblock %}
        {% block groups_list %}
            {% if c.page.items or request.params %}
                <ul class="media-grid edp-media-grid" data-module="media-grid">
                    {% block group_list_inner %}
                        {% for group in c.page.items %}
                            {% snippet "group/snippets/group_item.html", group=group, position=loop.index %}
                        {% endfor %}
                    {% endblock %}
                </ul>
            {% else %}
                <p class="empty">
                    {{ _('There are currently no groups for this site') }}.
                    {% if h.check_access('group_create') %}
                        {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
                    {% endif %}
                </p>
            {% endif %}
        {% endblock %}
        {% block page_pagination %}
            {{ c.page.pager() }}
        {% endblock %}
    </div>
{% endblock %}
