{% ckan_extends %}

{% block subtitle %}{{ _(c.group_dict.display_name) }} - {{ _('Categories') }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Categories'), controller='group', action='index' %}</li>
    <li class="active">{% link_for _(c.group_dict.display_name)|truncate(35), controller='group', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('group_read', _('Datasets'), id=c.group_dict.name) }}
  {{ h.build_nav_icon('group_activity', _('Activity Stream'), id=c.group_dict.name, offset=0) }}
{% endblock %}
