

<div id="layout-footer">
    <div class="funded-by">
        <img src="{{ h.url_for_static('/img/funded-by.png')  }}">
        <p>Funded by the European Union</p>
    </div>
    <div class="edp-base-service-tools">
        <ul class="edp-base-menu edp-base-clearfix edp-base-list-group edp-base-list-group-flush edp-base-list-unstyled">
            <li class="edp-base-first edp-base-leaf"><a href="{{ h.main_menu_link('/newsletter/subscribe') }}" data-display-title="1" title="Newsletter" data-remove-class="0" class="edp-base-list-group-item">{{ _('Newsletter') }}</a></li>
            <li class="edp-base-leaf"><a href="{{ h.main_menu_link('/faq') }}" data-display-title="1" title="FAQ" data-remove-class="0" class="edp-base-list-group-item">{{ _('FAQ') }}</a></li>
            <li class="edp-base-leaf"><a href="{{ h.main_menu_link('/search/site') }}" data-display-title="1" title="Search the site" data-remove-class="0" class="edp-base-list-group-item">{{ _('Search') }}</a></li>
            <li class="edp-base-leaf"><a href="{{ h.main_menu_link('/feedback/form?type=1') }}" data-display-title="1" title="Contact us" data-remove-class="0" class="edp-base-list-group-item">{{ _('Contact') }}</a></li>
            <li class="edp-base-leaf"><a href="{{ h.main_menu_link('/cookies') }}" data-display-title="1" data-remove-class="1" class="edp-base-list-group-item">{{ _('Cookies') }}</a></li>
            <li class="edp-base-leaf"><a href="{{ h.main_menu_link('/legal-notice') }}" data-display-title="1" data-remove-class="1" class="edp-base-list-group-item">{{ _('Legal notice') }}</a></li>
        </ul>
    </div>
</div>
</div>